@import "tailwindcss";

:root {
  --swift-purple: #64245C;
  --swift-green: #80C050;
  --background: #ffffff;
  --foreground: #333333;
  --font-poppins: 'Poppins', sans-serif;
  --text-purple: #64245C;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: #000;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

/* Additional brand styles */
.bg-swift-purple {
  background-color: var(--swift-purple);
}

.text-swift-green {
  color: var(--swift-green);
}

.bg-swift-green {
  background-color: var(--swift-green);
}

.text-swift-purple {
  color: var(--swift-purple);
}
